# Python build files and cache

*.pyc
*.so
*.egg-info

dist/
target/

# Docs

docs/build/
docs/jupyter_execute/
docs/source/reference/_autosummary/

# Sionna data

differt/src/differt/scene/scenes.lock
differt/src/differt/scene/scenes/

# Notebooks

.ipynb_checkpoints/

# Tools

.benchmarks/
.coverage*
coverage.xml

.fileid.db
