# Python build files and cache

*.pyc
*.pyd
*.so
*.egg-info
__pycache__/

dist/
target/
__pycache__/

# Docs

docs/build/
docs/jupyter_execute/
docs/source/reference/_autosummary/

# Sionna data

differt/src/differt/geometry/scenes.lock
differt/src/differt/geometry/scenes/

# Notebooks

.ipynb_checkpoints/

# Tools

.benchmarks/
.coverage*
coverage.xml

.fileid.db
