name: Publish Python Packages
on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
    tags:
    - '*'
  workflow_dispatch:
    inputs:
      publish-differt:
        type: boolean
        description: Publish differt
      publish-differt-core:
        type: boolean
        description: Publish differt-core

permissions:
  contents: read

jobs:
  build-differt-core-linux-wheels:
    name: Build linux-${{ matrix.platform.target}} wheels for differt-core
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
        - runner: ubuntu-24.04
          target: x86_64
        - runner: ubuntu-24.04
          target: x86
        - runner: ubuntu-24.04
          target: aarch64
        - runner: ubuntu-24.04
          target: armv7
        - runner: ubuntu-24.04
          target: s390x
        - runner: ubuntu-24.04
          target: ppc64le
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.x

    - name: Build wheels
      uses: PyO3/maturin-action@v1
      with:
        target: ${{ matrix.platform.target }}
        args: --release --out dist
        sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
        manylinux: auto
        working-directory: differt-core

    - name: Build free-threaded wheels
      uses: PyO3/maturin-action@v1
      with:
        target: ${{ matrix.platform.target }}
        args: --release --out dist -i python3.13t -i python3.14t
        sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
        manylinux: auto
        working-directory: differt-core

    - name: Upload wheels
      uses: actions/upload-artifact@v6
      with:
        name: differt-core-wheels-linux-${{ matrix.platform.target }}
        path: differt-core/dist

  build-differt-core-musllinux-wheels:
    name: Build musl-${{ matrix.platform.target}} wheels for differt-core
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
        - runner: ubuntu-24.04
          target: x86_64
        - runner: ubuntu-24.04
          target: x86
        - runner: ubuntu-24.04
          target: aarch64
        - runner: ubuntu-24.04
          target: armv7
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.x

    - name: Build wheels
      uses: PyO3/maturin-action@v1
      with:
        target: ${{ matrix.platform.target }}
        args: --release --out dist
        sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
        manylinux: musllinux_1_2
        working-directory: differt-core

    - name: Build free-threaded wheels
      uses: PyO3/maturin-action@v1
      with:
        target: ${{ matrix.platform.target }}
        args: --release --out dist -i python3.13t -i python3.14t
        sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
        manylinux: musllinux_1_2
        working-directory: differt-core

    - name: Upload wheels
      uses: actions/upload-artifact@v6
      with:
        name: differt-core-wheels-musllinux-${{ matrix.platform.target }}
        path: differt-core/dist

  build-differt-core-windows-wheels:
    name: Build windows-${{ matrix.platform.target}} wheels for differt-core
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
        - runner: windows-latest
          target: x64
        - runner: windows-latest
          target: x86
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.x
        architecture: ${{ matrix.platform.target }}

    - name: Build wheels
      uses: PyO3/maturin-action@v1
      with:
        target: ${{ matrix.platform.target }}
        args: --release --out dist
        sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
        working-directory: differt-core

    - name: Build free-threaded wheels
      uses: PyO3/maturin-action@v1
      with:
        target: ${{ matrix.platform.target }}
        args: --release --out dist -i python3.13t -i python3.14t
        sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
        working-directory: differt-core

    - name: Upload wheels
      uses: actions/upload-artifact@v6
      with:
        name: differt-core-wheels-windows-${{ matrix.platform.target }}
        path: differt-core/dist

  build-differt-core-macos-wheels:
    name: Build macos-${{ matrix.platform.target}} wheels for differt-core
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
        - runner: macos-13
          target: x86_64
        - runner: macos-latest
          target: aarch64
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.x

    - name: Build wheels
      uses: PyO3/maturin-action@v1
      with:
        target: ${{ matrix.platform.target }}
        args: --release --out dist
        sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
        working-directory: differt-core

    - name: Build free-threaded wheels
      uses: PyO3/maturin-action@v1
      with:
        target: ${{ matrix.platform.target }}
        args: --release --out dist -i python3.13t -i python3.14t
        sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
        working-directory: differt-core

    - name: Upload wheels
      uses: actions/upload-artifact@v6
      with:
        name: differt-core-wheels-macos-${{ matrix.platform.target }}
        path: differt-core/dist

  build-differt-core-sdist:
    name: Build sdist for differt-core
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Build sdist
      uses: PyO3/maturin-action@v1
      with:
        command: sdist
        args: --out dist
        working-directory: differt-core

    - name: Upload sdist
      uses: actions/upload-artifact@v6
      with:
        name: differt-core-wheels-sdist
        path: differt-core/dist

  release-differt-core:
    if: (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')) || github.event.inputs.publish-differt-core
    name: Release differt-core
    runs-on: ubuntu-latest
    needs: [build-differt-core-linux-wheels, build-differt-core-musllinux-wheels, build-differt-core-windows-wheels, build-differt-core-macos-wheels, build-differt-core-sdist]
    environment: release
    permissions:
      id-token: write
      contents: write
      attestations: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Download build wheels
      uses: actions/download-artifact@v7
      with:
        path: differt-core/dist
        pattern: differt-core-wheels-*

    - name: Generate artifact attestation
      uses: actions/attest-build-provenance@v3
      with:
        subject-path: differt-core/dist/differt-core-wheels-*

    - name: Publish to PyPI
      uses: PyO3/maturin-action@v1
      with:
        command: upload
        args: --non-interactive --skip-existing dist/differt-core-wheels-*/*
        working-directory: differt-core

  build-differt:
    name: Build DiffeRT
    runs-on: ubuntu-latest
    environment: release
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Build package
      run: uv build --package differt -o differt/dist

    - name: Upload sdist
      uses: actions/upload-artifact@v6
      with:
        name: differt-wheels-sdist
        path: differt/dist/differt-*.tar.gz

    - name: Upload wheels any
      uses: actions/upload-artifact@v6
      with:
        name: differt-wheels-any
        path: differt/dist/differt-*.whl

  release-differt:
    if: (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')) || github.event.inputs.publish-differt
    name: Release DiffeRT
    runs-on: ubuntu-latest
    needs: [build-differt]
    environment: release
    permissions:
      id-token: write
      contents: write
      attestations: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Download build wheels
      uses: actions/download-artifact@v7
      with:
        path: differt/dist
        pattern: differt-wheels-*
        merge-multiple: true

    - name: Generate artifact attestation
      uses: actions/attest-build-provenance@v3
      with:
        subject-path: differt/dist/*

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        packages-dir: differt/dist/
        skip-existing: true
