# Check for common grammar and spelling mistakes
name: Spelling

on:
  pull_request:
  workflow_dispatch:

jobs:
  languagetool-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Strip cell output
      run: |
        pip install nbstripout
        find . -name '*.ipynb' -exec nbstripout {} +

    - name: Check and report
      uses: reviewdog/action-languagetool@v1
      with:
        reporter: github-pr-review
        patterns: '*.md src/**.rs python/differt/**.py docs/source/**.md docs/source/**.ipynb'
        level: warning
        disabled_rules: WHITESPACE_RULE,EN_UNPAIRED_QUOTES,EN_QUOTES,DASH_RULE,WORD_CONTAINS_UNDERSCORE,UPPERCASE_SENTENCE_START,ARROWS,COMMA_PARENTHESIS_WHITESPACE,UNLIKELY_OPENING_PUNCTUATION,SENTENCE_WHITESPACE,CURRENCY,EN_UNPAIRED_BRACKETS,PHRASE_REPETITION,PUNCTUATION_PARAGRAPH_END,METRIC_UNITS_EN_US,ENGLISH_WORD_REPEAT_BEGINNING_RULE

  codespell-jupyter:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Strip cell output
      run: |
        pip install nbstripout
        find . -name '*.ipynb' -exec nbstripout {} +

    - name: Run codespell
      run: |
        pip install codespell tomli
        find . -name '*.ipynb' -exec codespell {} +
